.column(span="row")
  .section__title-wrapper
    .section__title Welcome to my CV
.column(span="row")
  button.disc
    i.icon__youtube
    span.button-text YT
.column(span="row")
  h1.about-me__main-title Virgil A Ciociu
.column(span="row")
  h2.about-me__sub-title Starter Junior Developer
.column(span="row")
  h3.about-me__lead-title About me
.column(span="row")
  .description-box_with-shadow
    p.description I'm centred on an agile mind-set and I automated enhancements myself with a view of continual improvement.
    p.description With a genuine passion for technology, enthusiasm and willingness to learn tonnes of new skills and new technologies.
    p.description I'm a team player and I have the ability to thrive under pressure whilst maintaining high levels of attention to detail.

.column(span="row")
  button.pill
    i.icon__download
    span.button-text Download my CV
.column(span="row")
  button.disc
    i.icon__arrow-down
    span.button-text AD