.column(span="row")
  .section-title Welcome to my CV
.column(span="row")
  button.disc
    i.icon__youtube
    span.button-text YouTube
.column(span="row")
  h1 Virgil A. Ciociu
.column(span="row")
  h2 Starter Junior Developer
.column(span="row")
  h3 About me
.column(span="row")
  .description-box__with-shadow
    p I'm centred on an agile mind-set and I automated enhancements myself with a view of continual improvement.  
    p With a genuine passion for technology, enthusiasm and willingness to learn tonnes of new skills and new technologies.
    p I'm a team player and I have the ability to thrive under pressure whilst maintaining high levels of attention to detail.

.column(span="row")
  button.pill
    i.icon__download
    span.button-text Click to Download
.column(span="row")
  button.disc
    i.icon__arrow-down
    span.button-text AD